.post-container {
    display: flex;
    justify-content: center;
}

.post-form-container {
    display: flex;
    justify-content: center;
}

.card-title {
    margin-top: 2rem;
}

.post-btn-group {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 1rem;
    align-items: center;
}

a {
    color: rgb(106, 139, 158);
    text-decoration: none;
}

.comment-count:hover {
    color: rgb(85, 112, 128);
    cursor: pointer;
}

.admin-button {
    display: flex;
    justify-content: end;
}

.post-button {
	background-color: rgb(163, 167, 191);
	border: rgb(177, 201, 199);
}

.post-button:hover {
    background-color: rgb(136, 140, 160);
	border: rgb(177, 201, 199);
}

.post-button:focus {
	outline: none;
	box-shadow: none;
}